@font-face {
  font-family: "Bold";
  src: url(../media/fonts/Inter-Bold.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.h2{
  font-size: 20px;
  margin-bottom: 20px;
}

.logo_img {
  width: 90px;
  align: bottom;
}

.header_img {
  width: 100%;
}

nav {
  background-color: rgb(180, 180, 180);
  width: 100%;
  padding: 30px;
  font-size: 24px;
}
.nav_container {
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0px auto;
}
nav a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

.slider{
  width: 700px;
  height: 500px;
  margin: 30px auto;
  overflow: hidden;
}
.slider-line{
  height: 500px;
  width: 2100px;
  display: flex;
  position: relative;
  transition: all ease 1s;
}
.slider-line img{
  width: 700px;
}
.slider-button{
  display: flex;
  justify-content: center;
}

.content{
  width: 90%;
  margin: 0px auto;
}
footer{
  margin-top: 100px;
}

h1{
  text-align: center;
}

form{
  width: 700px;
  margin: 0px auto;
  margin-bottom: 30px;
}
input{
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}
button{
  font-size: 18px;
  padding: 5px 20px;
}

.cards{
  margin: 30px auto;
}
.card{
  float: left;
  padding: 30px;
  display: block;
  height: 600px;
  margin: auto 40px;
}
.card:hover{
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card img{
  width: 400px;
}
.cards a{
   text-decoration: none;
   color: black;
}

.container_tovar{
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  font-size: 18px;
}
.container_tovar img{
  width: 700px;
}
.container_tovar hr {
  width: 450px;
}
.container_tovar a{
  text-decoration: none;
  color: rgb(114, 114, 114);
}

.cart_cards{
  margin: 10px auto;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.container_cart a{
  text-decoration: none;
  color: black;
}
.cart_cards .card{
  height: 450px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.container_cart{
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
hr{
  height: 1px;
  background-color: black;
  border-color: black;
  width: 95%;
  font-size: 10px;
  margin: 30px;
}
.price{
  font-size: 24px;
  padding: 20px;
}

.cart_cards2{
  margin: 0px auto;
}
.cart_card2{
  float: left;
  display: block;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  width: 300px;
  padding: 25px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.cart_card2 a{
  text-decoration: none;
  color: rgb(131, 131, 131);
}

.cart_card2_fullInfo a{
  text-decoration: none;
  color: rgb(131, 131, 131);
}
.cart_card2_fullInfo{
  align-items: center;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.cart_goods_card{
  float: left;
  display: block;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  width: 300px;
  padding: 25px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.category{
  font-size: 18px;
  padding: 7px 20px;
}

/* Где нас найти */
.map{
  width: 90%;
  margin: 10px auto;
}
.map img{
  width: 100%;
}
.info{
  text-align: center;
}